<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<nav>
    <div class="logo">
        <a href="./index.html">
            <img src="../static/imagen/goodSale-logoB-01.png" alt="Logo">
        </a>
        <h1>Un mundo por descubrir</h1>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./sobrenosotros.html">Sobre Nosotros</a></li>
        <li><a href="./servicios.html">Servicios</a></li>
        <li><a href="./registro.html">Regístrese</a></li>
        <li><a href="./sucursales.html">Sucursales</a></li>
        <li><a href="./admin-inicio.html">Admin</a></li>
    </ul>
</nav>

<body>
    <div>
        <h3>INICIO</h3>
        <table>
            <tr>
                <td class="cont"><a href="eliminar.html">Eliminar clientes</a></td>
                <td class="cont"><a href="modificar.html">Modificar clientes</a></td>
                <td class="cont"><a href="listado.html">Listado de clientes</a></td>
            </tr>
        </table>

    </div>

</body>

</html>