<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
    <link rel="stylesheet" href="../static/admin-inicio.css">
</head>

<body>
    <div>
        <h3>INICIO</h3>
        <table>
            <tr>
                <td class="cont"><a href="eliminar.html">Eliminar clientes</a></td>
                <td class="cont"><a href="modificar.html">Modificar clientes</a></td>
                <td class="cont"><a href="listado.html">Listado de clientes</a></td>
            </tr>
        </table>

    </div>

</body>

</html>