<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Registros</title>

    

    <link rel="stylesheet" href="../static/listado.css"> <!-- Ajusta la ruta según tu estructura de archivos -->
</head>

<body>
    <nav>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Listado</title>
            <link rel="stylesheet" href="../static/styles.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        </head>
        
        <body>
            <nav>
                <div class="logo">
                    <a href="./index.html">
                        <img src="../static/imagen/goodSale-logoB-01.png" alt="Logo">
                    </a>
                    <h1>Un mundo por descubrir</h1>
                </div>
                <div class="burger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <ul class="nav-links">
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./sobrenosotros.html">Sobre Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./registro.html">Regístrese</a></li>
                    <li><a href="./sucursales.html">Sucursales</a></li>
                    <li><a href="./admin-inicio.html">Admin</a></li>
                </ul>
            </nav>
        
    </nav>

   

    <div class="container">
        <h2>Listado de Registros</h2>
        <table id="tabla-registros">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Código Postal</th>
                    <th>Nacimiento</th>
                </tr>
            </thead>
            <tbody id="cuerpo-tabla-registros"></tbody>
        </table>
    </div>

    <footer>
        <!-- Coloca tu pie de página si lo tienes -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/listado.js"></script>
   
</body>

</html>
