<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Registro</title>

    <!-- Enlaces a Bootstrap y otros estilos si es necesario -->

    <link rel="stylesheet" href="../static/listado.css"> <!-- Ajusta la ruta según tu estructura de archivos -->
</head>

<body>
    <nav>
        <!-- Coloca tu barra de navegación si la tienes -->
    </nav>

    

    <div class="container">
        <h2>Modificar Registro</h2>
        <form id="formulario-modificar">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" placeholder="Ingrese el DNI a modificar...">
            <label for="direccion">Nueva Dirección:</label>
            <input type="text" id="direccion" name="direccion" placeholder="Ingrese la nueva dirección...">
            <label for="ciudad">Nueva Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" placeholder="Ingrese la nueva ciudad...">
            <label for="cp">Nuevo Código Postal:</label>
            <input type="text" id="cp" name="cp" placeholder="Ingrese el nuevo código postal...">
            <button type="submit">Modificar Registro</button>
        </form>
        <div id="resultado-modificacion"></div>
    </div>

    <footer>
        <!-- Coloca tu pie de página si lo tienes -->
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/modificar.js"></script>
   
</body>

</html>
